[submodule "project-ops"]
	path = project-ops
	url = https://bitbucket.org/manaosoftware/project-ops.git
[submodule ".claude/agents"]
	path = .claude/agents
	url = https://github.com/patjanawat/sigma-agents.git
